{% extends 'bootstrap/base.html' %}

{% block title %}Dynamic Hospital{% endblock %}

{% block content %}
<div class="jumbotron text-center">
    <div class="container">
        <h1 class="display-4">Dynamic Hospital</h1>
        <p class="lead">What, when, why?</p>
        <hr class="my-4">
        <a class="btn btn-primary btn-lg" href="{{url_for('add_schedule')}}" role="button">Schedule</a>
        <a class="btn btn-primary btn-lg" href="{{url_for('add_materials_list')}}" role="button">Buy List</a>
    </div>
</div>

{% endblock %}